<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupo.dublinfloristassociation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterPage">
            <intent-filter>
                <action android:name=".LoginPage" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidDatabaseManagerDELETEWHENCOMPLETE"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".ContactPage" />
        <activity android:name=".CataloguePage" />
        <activity android:name=".flowerarchive" />

        <!-- Internet Connectivity -->

        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <activity android:name=".floristsAZ" />
        <activity android:name=".webViews.roseWebView" />
        <activity android:name=".webViews.bluebellWebView" />
        <activity android:name=".webViews.tulipWebView" />
        <activity android:name=".webViews.daffodilWebView" />
        <activity android:name=".Home"></activity>
    </application>

</manifest>